/* Culorile temei */
:root {
    --primary-color: #D8B3E7; /* Culoarea principală */
    --secondary-color: #6c757d; /* Culoarea secundară */
    --background-color: #DDB3F5; /* Culoarea de fundal */
}


.logo {
    width: 30px; /* Ajustează dimensiunea imaginii conform preferințelor tale */
}

.logo-title {
    display: inline-block;
    margin-top: 5px;
}


.logo-text {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: var(--secondary-color);
}

.navbar {
    background-color: var(--primary-color);
    padding: 20px 0;
}

.nav-link {
    color: var(--secondary-color) !important;
}

    .nav-link:hover {
        color: white !important;
    }

.container {
    margin-top: 20px;
}


.navbar-brand {
    margin-right: 10px;
}

.navbar-toggler {
    padding: 0.25rem 0.5rem;
}

.navbar-collapse {
    margin-top: -5px;
}

.navbar-nav {
    align-items: center;
}

.nav-link {
    padding: 0.5rem;
    font-size: 14px;
}

body {
    background: linear-gradient(135deg, #B2EBF2, #E0F7FA);
}

