@model User

<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmileDent - Contul Meu</title>
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="Home">Home</a></li>
                <li><a href="Services">Servicii</a></li>
                <li><a href="Team">Echipa</a></li>
                <li><a href="Prices">Tarife</a></li>
                <li><a href="Schedule">Programeaza-te</a></li>
                <li><a href="Contact">Contact</a></li>
                <li><a href="Login" class="active">Autentificare</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Autentificare</h1>

        <section id="intracont" class="login">
            <h2>Intra in contul tau</h2>
            <form asp-controller="User" asp-action="Login" method="post">
                @Html.AntiForgeryToken()

                <label for="email">Adresa de e-mail:</label>
                <input type="email" id="email" name="Email" required>

                <label for="parola">Parola:</label>
                <input type="password" id="parola" name="PasswordHash" required>

                <button type="submit">Conectare</button>
            </form>
        </section>

        <section id="echipa" class="login">
            <h2>Informatii utilizator</h2>
            <p>Nume: <span id="nume-utilizator"></span></p>
            <p>Adresa de e-mail: <span id="email-utilizator"></span></p>
        </section>
    </main>

</body>
</html>