/* DentalClinicWebsite.styles.css */

/* Stilizare header */
header {
    background-image: linear-gradient(to right, #00BFFF, #00FFFF, #00CED1);
    padding: 20px;
}

.logo-text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

.navbar {
    background-color: #A7E4F9;
    height: 30px;
}

.nav-link {
    color: #333;
    font-weight: bold;
}

.navbar-toggler {
    border-color: #333;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(135deg, #B2EBF2, #E0F7FA);
}

.card {
    background: linear-gradient(135deg, #B2EBF2, #A8DEEA);
}

.custom-field {
    background-color: #D6ECF4;
}

.custom-field:disabled {
        background-color: #D6ECF4;
    }


