.about-section[b-vo96celdc3] {
    background-color: #AAE6FF;
    padding: 50px;
}

    .about-section h2[b-vo96celdc3] {
        font-size: 28px;
        color: #002A7E;
        margin-bottom: 20px;
    }

    .about-section p[b-vo96celdc3] {
        font-size: 18px;
    }

.guarantee-section[b-vo96celdc3],
.experience-section[b-vo96celdc3],
.safety-section[b-vo96celdc3],
.technology-section[b-vo96celdc3],
.testimonials-section[b-vo96celdc3],
.location-section[b-vo96celdc3] {
    background-color: #AAE6FF;
    padding: 50px;
    margin-top: 30px;
}

    .guarantee-section h2[b-vo96celdc3],
    .experience-section h2[b-vo96celdc3],
    .safety-section h2[b-vo96celdc3],
    .technology-section h2[b-vo96celdc3],
    .testimonials-section h2[b-vo96celdc3],
    .location-section h2[b-vo96celdc3] {
        font-size: 24px;
        color: #002A7E;
        margin-bottom: 20px;
    }

    .guarantee-section p[b-vo96celdc3],
    .experience-section p[b-vo96celdc3],
    .safety-section p[b-vo96celdc3],
    .technology-section p[b-vo96celdc3],
    .testimonials-section p[b-vo96celdc3],
    .location-section p[b-vo96celdc3] {
        font-size: 18px;
    }

.testimonial-author[b-vo96celdc3] {
    margin-top: 20px;
    font-style: italic;
}

@media (max-width: 768px) {
    .about-section[b-vo96celdc3],
    .guarantee-section[b-vo96celdc3],
    .experience-section[b-vo96celdc3],
    .safety-section[b-vo96celdc3],
    .technology-section[b-vo96celdc3],
    .testimonials-section[b-vo96celdc3],
    .location-section[b-vo96celdc3] {
        padding: 30px;
    }

        .about-section h2[b-vo96celdc3],
        .guarantee-section h2[b-vo96celdc3],
        .experience-section h2[b-vo96celdc3],
        .safety-section h2[b-vo96celdc3],
        .technology-section h2[b-vo96celdc3],
        .testimonials-section h2[b-vo96celdc3],
        .location-section h2[b-vo96celdc3] {
            font-size: 22px;
            margin-bottom: 15px;
        }

        .about-section p[b-vo96celdc3],
        .guarantee-section p[b-vo96celdc3],
        .experience-section p[b-vo96celdc3],
        .safety-section p[b-vo96celdc3],
        .technology-section p[b-vo96celdc3],
        .testimonials-section p[b-vo96celdc3],
        .location-section p[b-vo96celdc3] {
            font-size: 16px;
        }
}
