@{
    Layout = "_Layout";
}

@model IEnumerable<Treatment>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prices-SmileDent</title>
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <main>
        <h1>Tarife</h1>
        <p>
            Fundamentul activității SmileDent este sănătatea dentară a pacientului pe termen lung.
            Și pentru că zâmbetul reprezintă o investiție pentru toată viața este important ca alegerea făcută să fie cea mai potrivită pentru tine.
        </p>
        <section class="treatments-section">
            <h2>Tratamente disponibile la SmileDent</h2>
            <table>
                <tr>
                    <th>Numele Tratamentului</th>
                    <th>Descriere</th>
                    <th>Pret</th>
                </tr>
                @foreach (var treatment in Model)
                {
                    <tr>
                        <td>@treatment.Name</td>
                        <td>@treatment.Description</td>
                        <td>@treatment.Price RON</td>
                    </tr>
                }
            </table>
        </section>
    </main>
</body>
</html>
