/* Culorile temei */
:root[b-o2q3kkbzl2] {
    --primary-color: #D8B3E7; /* Culoarea principală */
    --secondary-color: #6c757d; /* Culoarea secundară */
    --background-color: #DDB3F5; /* Culoarea de fundal */
}


.logo[b-o2q3kkbzl2] {
    width: 30px; /* Ajustează dimensiunea imaginii conform preferințelor tale */
}

.logo-title[b-o2q3kkbzl2] {
    display: inline-block;
    margin-top: 5px;
}


.logo-text[b-o2q3kkbzl2] {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: var(--secondary-color);
}

.navbar[b-o2q3kkbzl2] {
    background-color: var(--primary-color);
    padding: 20px 0;
}

.nav-link[b-o2q3kkbzl2] {
    color: var(--secondary-color) !important;
}

    .nav-link:hover[b-o2q3kkbzl2] {
        color: white !important;
    }

.container[b-o2q3kkbzl2] {
    margin-top: 20px;
}


.navbar-brand[b-o2q3kkbzl2] {
    margin-right: 10px;
}

.navbar-toggler[b-o2q3kkbzl2] {
    padding: 0.25rem 0.5rem;
}

.navbar-collapse[b-o2q3kkbzl2] {
    margin-top: -5px;
}

.navbar-nav[b-o2q3kkbzl2] {
    align-items: center;
}

.nav-link[b-o2q3kkbzl2] {
    padding: 0.5rem;
    font-size: 14px;
}

body[b-o2q3kkbzl2] {
    background: linear-gradient(135deg, #B2EBF2, #E0F7FA);
}

