@model DentistServices
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Programeaza-te</title>
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <main>
        <form id="programare-form" method="post" asp-controller="Schedule" asp-action="Schedule">
            <label>Selectează serviciul:</label>
            <select name="serviciu">
                <option value="">Selectează serviciul</option>
            </select>

            <label>Selectează medicul:</label>
            <select name="medic">
                <option value="">Selectează medicul</option>
            </select>
            <label>Data:</label>
            <input type="date" name="data" />
            <label>Ora:</label>
            <input type="time" name="ora" />
            <button type="submit">Programează-te</button>
        </form>
    </main>
</body>
</html>